@charset "utf-8";


/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Charle Turner
   Date:   2/6/2020
   
   Filename: mw_styles.css

*/


/* Structural Styles */



/* Heading Styles */



/* Navigation Styles */




/* Article Styles */




/* Aside Styles */



/* Blockquote Styles */

