@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Tutorial Case
   
   Visual Effects Style Sheet for Photo Page at Tree and Book
   Author: CHarles Turner
   Date:   
   
   Filename: tb_visual2.css

*/


/* Transformation Styles */
figure#figure2 {
   transform: rotate(-40deg) scale(0.8, 0.8) translate(20px, -100px);
   box-shadow: rgb(101, 101, 101) 10px 10px 25px;
}

figure#figure3 {
   transform: rotate(10deg) scale(0.9, 0.9) translate(-120px);
   box-shadow: rgb(101, 101, 101) 10px -10px 25px;
}

/* Filter Styles */










