@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for the Layout of the Pandaisia Chocolates Home Page
   Author: Charles Turner
   Date:   2/12/2020
   
   Filename: pc_home.css

*/

/* Body Styles */
body {
   margin-left: auto;
   margin-right: auto;
   max-width: 960px;
   min-width: 640px;
   width: 95%;
}


/* Body Header Styles */
body > header > img {
   display: block;
   width: 100%;
}
body > header > nav.horizontalNavigation li {
   width: 20%;
}



/* Horizontal Navigation Styles */
nav.HorizontalNavigation li {
   display: block;
   float: left;
}


/* Left Column Styles */




/* Right Column Styles */





/* Footer Styles */

