@charset "utf-8";
@font-face {
   font-family: Champagne;
   src: url('cac_champagne.woff') format('woff'),
   url('cac_champagne.ttf') format('truetype');
}
@font-face {
   font-family: Grunge;
   src: url('1942.woff') format('woff'),
   url('1942.ttf') format('truetype');
}
@font-face {
   font-family: Dobkin;
   src: url('DobkinPlain.woff') format('woff'),
   url('DobkinPlain.ttf') format('truetype');
}
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Charles Turner
   Date:   2/12/2020
   
   Filename: ph_styles.css

*/


/* Structural Styles */
html {
   background-color: hsl(91, 8%, 56%);
} 
body {
   background-color: hsl(58, 31%, 84%);
   font-family: 'Palatino Linotype','Book Antiqua', Palatino, serif;
}
header {
   background-color: black;
}
p {
   margin: 0px;
   padding: 5px 25px 25px 25px;

}


/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

